
<div class="rk-portfolio-cover  item-inside-1">
  <div class="item-inside__meta">
    <h1 class="ae-u-bolder rk-portfolio-title ">{{ product.producto }}</h1>
      <p class="ae-theta rk-portfolio-category ">{{ product.categoria }}</p>
    </div>
  </div>
<div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <p class="ae-eta">{{ product.desc1 }}</p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/inner-1.jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-8"><img src="assets/img/inner-2.jpg" alt="Urku Portfolio"></div>
      <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <p>{{ product.resumen }}</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <p class="ae-eta">{{ product.desc2 }}</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg--auto"><img src="assets/img/project-1.jpg" alt="Urku Portfolio"></div>
    </div>
  </div>
</div>
